*{
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
}

.container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 200px);
    grid-template-areas: 
    "header header header header header"
    "main main main main main"
    "main main main main main"
    "main main main main main"
    "main footer footer footer footer";
}

/* HEADER */
.header{
    background-color: white;
}

/* MAIN */
.main{
    background-color: white;
}

.page1{
    background-color: burlywood;
}

.p1__block1{
    background-color: palevioletred;
}

.p1__block2{
    background-color: rosybrown;
}

.p1__block3{
    background-color: pink;
}

.page2{
    background-color: bisque;
}

.page3{
    background-color: bisque;
}

/* FOOTER */
.footer{
    grid-area: footer;
    background-color: slategray;
    text-align: center;
}

.footer__text{
    align-items: center;
    color: white;
    padding-bottom: 32px;
}
