*{
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
}

.container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 200px);
    grid-template-areas: 
    "header header header header header"
    "main main main main main"
    "main main main main main"
    "main main main main main"
    "footer footer footer footer footer";
}

/* HEADER */
.header{
    grid-area: header;
    background-color: burlywood;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0.5rem;
}

/* MAIN */
.main{
    grid-area: main;
    background-color: white;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
    "nav section section section section";
}

/* FOOTER */
.footer{
    grid-area: footer;
    background-color: slategray;
    text-align: center;
}

.footer__text{
    align-items: center;
    color: white;
    padding-bottom: 32px;
}
