*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}
/* HEADER */

.nav{
    height: 60px;
    width: 100%;
    /* background-color: beige; */
    position: fixed;
    top: 0;
}

.nav li{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
}

.nav li a{
    display: block;
    height: 40px;
    width: 40px;
}

.nav li:nth-child(1) a{
    background-image: url(https://www.coffeebeankorea.com/images/btn/btn_menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 21px;
}
.nav li:nth-child(2) a{
    background-image: url(./logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px;
}
.nav li:nth-child(3) a{
    background-image: url(./shop.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
}
.nav li:nth-child(4) a{
    background-image: url(./coffee_icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
}

.nav li:nth-child(1){
    float: left;
}
.nav li:nth-child(2){
    position: absolute;
    top: 0;
    right: calc(50% - 20px);
}
.nav li:nth-child(3){
    float: right;
}
.nav li:nth-child(4){
    float: right;
}

/* MAIN */
.main{
    height: 1000px;
}

.info{
    margin-top: 60px;
    background-color: rgb(105,81,157);
    color: white;
    height: 30px;
    display: flex;
    align-items: center;
}

.info p{
    margin: 0 20px;;
    font-size: 12px;
}

.section{
    clear: both;
    margin: 20px 20px 55px;

}

.box1,
.box2{
    height: 40px;
    background-color: rgb(238,238,238);
    margin-bottom: 10px;
    padding: 0 30px 0 15px;
}

/* FOOTER */
.footer{
    background-color: rgb(226,226,226);
    font-size: 13px;
    padding: 30px 0px;
    text-align: center;
    color: rgb(95,77,63);
}

.footer__icon{
    margin-bottom: 25px;
    padding: 6.5px 0;
}

.footer__icon a:nth-child(1){
    background-image: url(https://www.coffeebeankorea.com/images/common/ico_facebook.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.footer__icon a:nth-child(2){
    background-image: url(https://www.coffeebeankorea.com/images/common/ico_instagram.svg);
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 10px;
}

.footer__icon a:nth-child(3){
    background-image: url(https://www.coffeebeankorea.com/images/common/ico_blog.svg);
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 10px;
}

.footer__icon a:nth-child(4){
    background-image: url(https://www.coffeebeankorea.com/images/common/ico_twitter.svg);
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 10px;
}

.footer__icon a{
    display: inline-block;
    width: 40px;
    height: 40px;
}

.footer__text > .ftext_container {
    margin-bottom: 15px;
    padding: 0 10px;
}

.ftext_container a{
    color: rgb(95,77,63);
}

.ftext_container a:nth-child(2){
    color: rgb(207,102,26);
}
