*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}
/* HEADER */
.header{
    position: fixed;
    height: 60px;
    width: 100%;
    background-color: brown;
}

.nav{

}

.menu__list{
    
}

.menu__item{

}

/* MAIN */
.main{
    height: 1000px;
}


/* FOOTER */
.footer{
    background-color: rgb(226,226,226);
    font-size: 13px;
    padding: 30px 0px;
    text-align: center;
    color: rgb(95,77,63);
}

.footer__icon{
    margin-bottom: 25px;
    padding: 6.5px 0;
}

.footer__icon a:nth-child(1){
    background-image: url(https://www.coffeebeankorea.com/images/common/ico_facebook.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.footer__icon a:nth-child(2){
    background-image: url(https://www.coffeebeankorea.com/images/common/ico_instagram.svg);
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 10px;
}

.footer__icon a:nth-child(3){
    background-image: url(https://www.coffeebeankorea.com/images/common/ico_blog.svg);
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 10px;
}

.footer__icon a:nth-child(4){
    background-image: url(https://www.coffeebeankorea.com/images/common/ico_twitter.svg);
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 10px;
}

.footer__icon a{
    display: inline-block;
    width: 40px;
    height: 40px;
}

.footer__text > .ftext_container {
    margin-bottom: 15px;
    padding: 0 10px;
}

.ftext_container a{
    color: rgb(95,77,63);
}

.ftext_container a:nth-child(2){
    color: rgb(207,102,26);
}
