*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    width: 100vw;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}
/* HEADER */

.nav{
    height: 60px;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
}

.nav li{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
}

.nav li a{
    display: block;
    height: 40px;
    width: 40px;
}

.nav li:nth-child(1) a{
    background-image: url(https://www.coffeebeankorea.com/images/btn/btn_menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 21px;
}
.nav li:nth-child(2) a{
    background-image: url(./logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px;
}
.nav li:nth-child(3) a{
    background-image: url(./shop.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
}
.nav li:nth-child(4) a{
    background-image: url(./coffee_icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
}

.nav li:nth-child(1){
    float: left;
}
.nav li:nth-child(2){
    position: absolute;
    top: 0;
    right: calc(50% - 20px);
}
.nav li:nth-child(3){
    float: right;
}
.nav li:nth-child(4){
    float: right;
}

/* MAIN */
.main{
    margin-bottom: 55px;
}

.info{
    margin-top: 60px;
    background-color: rgb(105,81,157);
    color: white;
    height: 30px;
    display: flex;
    align-items: center;
}

.info p{
    margin: 0 20px;;
    font-size: 12px;
}

.section{
    clear: both;
    margin: 20px 20px 55px;
}

.box1,
.box2{
    height: 40px;
    background-color: rgb(238,238,238);
    margin-bottom: 10px;
    padding: 0 30px 0 15px;
    color: rgb(207,102,26);
    background-image: url(https://www.coffeebeankorea.com/images/btn/btn_select3.png);
    background-repeat: no-repeat;
    background-position: right center;
    line-height: 40px;
}

.grid__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 600px);
    padding-bottom: 70px;
    /* row-gap: 70px; */
    margin-top: 20px;
    /* column-gap: 10px; */
    /* overflow: hidden; */
}


.grid__container div img{
    width: 100%;
}

.eng,
.kor{
    font-size: 18px;
}

.ex{
    font-size: 13px;
    margin-right: 10px;
}

figure{
    margin-bottom: 25px;
}

.name{
    margin-bottom: 10px;
    margin-right: 10px;
    text-align: center;
}

.grid__container>div>.p__container{
    padding-left: 15px;
    margin-bottom: 15px;
    height: 175px;
}

.com{
    display: flex;
    padding-left: 15px;
    text-align: center;
}

dt{
    font-size: 15px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

.bg1 dt{
    background-color: brown;
}
.bg2 dt{
    background-color: burlywood;
}
.bg3 dt{
    background-color: gray;
}
.bg4 dt{
    background-color: darkred;
}
.bg5 dt{
    background-color: darksalmon;
}
.bg6 dt{
    background-color: gainsboro;
}

dd{
    font-size: 10px;
    margin-top: 9px;
    width: 36px;
}

/* FOOTER */
.footer{
    background-color: rgb(226,226,226);
    font-size: 13px;
    padding: 30px 0px;
    text-align: center;
    color: rgb(95,77,63);
}

.footer__icon{
    margin-bottom: 25px;
    padding: 6.5px 0;
}

.footer__icon a:nth-child(1){
    background-image: url(https://www.coffeebeankorea.com/images/common/ico_facebook.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.footer__icon a:nth-child(2){
    background-image: url(https://www.coffeebeankorea.com/images/common/ico_instagram.svg);
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 10px;
}

.footer__icon a:nth-child(3){
    background-image: url(https://www.coffeebeankorea.com/images/common/ico_blog.svg);
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 10px;
}

.footer__icon a:nth-child(4){
    background-image: url(https://www.coffeebeankorea.com/images/common/ico_twitter.svg);
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 10px;
}

.footer__icon a{
    display: inline-block;
    width: 40px;
    height: 40px;
}

.footer__text > .ftext_container {
    margin-bottom: 15px;
    padding: 0 10px;
}

.ftext_container a{
    color: rgb(95,77,63);
}

.ftext_container a:nth-child(2){
    color: rgb(207,102,26);
}


@media screen and (max-width: 750px) {
    .grid__container{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(9, 1fr);
        row-gap: 85px;
        margin-top: 20px;
        /* column-gap: 10px; */
        /* overflow: hidden; */
    }
    .com{
        align-items: center;
        justify-content: center;
    }
    dt{
        width: 49px;
        height: 49px;
    }
    dd{
        width: 49px;
    }
    .grid__container>div{
        margin-bottom: 50px;
    }
    .grid__container>div>.p__container{
        height: auto;
    }
}

/* @media screen and (min-width:900px) {
    .grid__container{
        grid-template-columns: repeat(4, 1fr);
    }
} */

