/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body {
    background-color: #0E0E10;
}
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

::selection {
    background-color: #772CE8;
    color: #EFEFF1;
}
/* === HEADER === */
.container {
    width: 100%;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #181818;
    position: fixed;
    border-bottom: 2px solid black;
}

/* ===left container === */
.left_container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 225.6px;
    height: 50px;
}
.logo_container {
    padding: 5px;
}
.logo_icon {
    font-size: 40px;
    color: #9147FF;
}
.find_container,
.follow_container {
    padding: 0 10px;
}

.follow, 
.find {
    font-size: 14px;
    color: #EFEFF1;
    font-weight: 600;
}
.follow:hover, 
.find:hover {
    color: #9147FF;
}

/* === toggle menu === */
.toggle_container {
    padding: 0 10px;
    height: 100%;
}
.toggle_container >a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 100%;
}
.toggle_icon {
    font-size: 20px;
    font-weight: 700;
    color: #EFEFF1;
}
.menu_container {
    display: none;
    position: absolute;
    border-radius: 7px;
    padding: 0.5rem !important;
    overflow: scroll;
    height: 637px;
    background-color: #181818;
    top: 30px;
}
.menu_container::-webkit-scrollbar {
    width: 0;
}
.menu_items {
    font-size: 13px;
    padding: 5px;
    color: white;
}
.menu_items:first-child {
    font-weight: 600;
    color: #ADADB8;
}

.menu_items > a {
    display: block;
    width: 170px;
    padding: 1px;
    color: #EFEFF1;
}

.bar_container {
    width: 182px;
    margin: 10px 5px;
}

.bar {
    width: 100%;
    height: 1px;
    background-color: rgb(211, 211, 211);
}

.show {
    display: block;
}

/* === center container === */
.search_container {
    display: flex;
}
.search_box {
    margin-right: 2px;
}
.search_box > input {
    width: 355px;
    height: 36px;
    padding: 5px 10px;
    font-size: 16px;
    border: 2px solid #FFFFFF33;
    border-radius: 5px 0 0 5px;
    background-color: #FFFFFF33;
    color: white;
}

.search_box >input:hover {
    border-color: rgb(211, 211, 211);;
}
.search_box > input::placeholder {
    color: white;
    font-size: 15px;
}
.search_box >input:focus {
    outline-color :#9147FF;
    background-color: black;
}
.search_icon_container {
    width: 34px;
    height: 36px;
    border-radius: 0 5px 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF26;
}
.search_icon {
    color: white;
    font-size: 24px;
    font-weight: 500;
}


/* === right container === */
.right_container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 225.6px;
    height: 50px;
}

.right_icon {
    width: 43px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hover:hover {
    background-color: #464649;
    border-radius: 5px;
}
.right_icon div{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon {
    font-size: 20px;
    color: #EFEFF1;
    cursor: pointer;
}
.user_icon {
    font-size: 35px;
    color: #9147FF;
}

/* === main === */
.main {
    width: 100%;
    height: 100vh;
    background-color: #0E0E10;
    padding-left: 240px;
    padding-top: 50px;
}

/* === navigation === */
.nav {
    width: 240px;
    background-color: #1F1F23;
    height: 100%;
    position: fixed;
    top: 50px;
    left: 0;
}
/* .nav_container {
    height: 811px;
} */

.recommend_channel,
.follow_channel {
    padding-top: 5px;
    margin: 10px;
}
.recommend_channel p,
.follow_channel p{
    color: #EFEFF1;
    font-size: 13px;
    font-weight: 600;
}
.open {
    margin: 5px 0;
    padding: 5px 0;
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: calc(240px - 50px);
    top: 0;
}
.nav_icons > div{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_icons > div:hover {
    background-color: #464649;
    border-radius: 5px;
}
.open_icon,
.close_icon {
    font-size: 20px;
    color: #EFEFF1;
    cursor: pointer;
}
.close {
    margin: 5px 0;
    padding: 5px 0;
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* === navbar more ===*/
.user_info {
    padding: 5px 10px;
    display: grid;
    grid-template-columns: 30px 190px;
    gap: 10px;
    height: 42px;
}
.user_info:hover {
    background-color: #26262C;
}
.user_image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #EFEFF1;
}
.information {
    width: 180px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.user_box {
    display: grid;
    grid-template-columns: 120px 60px;
    overflow: hidden;
}
.user_name {
    color: #DEDEE3;
    font-size: 14px;
    font-weight: 600;
    height: 16.8px;
    width: 150px;
}
.live {
    color: #DEDEE3;
    font-weight: 600;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: red;
}
.viewer {
    margin-left: 5px;
}
.information p {
    color: #ADADB8;
    font-size: 13px;
    height: 15.6px;
}
.group_icon,
.follow_icon,
.recommend_icon {
    color: #DEDEE3;
    width: 50px;
    height: 40px;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.group_icon i,
.follow_icon i,
.recommend_icon i {
    font-size: 20px;
}
.more {
    padding: 5px 10px;
}
.more a{
    color: #bf94FF;
    font-size: 13px;
}
.more a:hover{
    text-decoration: underline;
}

/* user_image_insert */
/* .oking {
    background-image: url();
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
} */

.pong {
    background-image: url(https://yt3.ggpht.com/ytc/AKedOLSmtEpnhmbsV0gVCpehs2pFtIthL5-xwnAnM7PR=s176-c-k-c0x00ffffff-no-rj-mo);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
}
.jadore {
    background-image: url(https://yt3.ggpht.com/ytc/AKedOLQFx6t_igohsSNs_-k9yQndGneSX4VwTwx6y186bcI=s176-c-k-c0x00ffffff-no-rj-mo);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
}
.mong {
    background-image: url(https://yt3.ggpht.com/ytc/AKedOLSH2d9439RXoB5N2VQTK3mR_SPYkVHQ5M4LcObc=s176-c-k-c0x00ffffff-no-rj-mo);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
}
.oking{
    background-image: url(https://yt3.ggpht.com/ytc/AKedOLTR3mzIWCHFfErgg5upK1dqc3-DA5_MS8UNh5bY=s176-c-k-c0x00ffffff-no-rj-mo);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
}
.chim {
    background-image: url(https://yt3.ggpht.com/ytc/AKedOLQPSkWqeI1LiBS9_gvdvA2QhshcDpYYkCtLtIskFg=s176-c-k-c0x00ffffff-no-rj);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
}
.joccong {
    background-image: url(https://yt3.ggpht.com/ytc/AKedOLSbMbNedvmAV8r5FTgB8Ld1XcxHHykhS3-BKkJj=s176-c-k-c0x00ffffff-no-rj-mo);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
}
.bbang {
    background-image: url(https://yt3.ggpht.com/ytc/AKedOLQLRS1t-BMZyJQwsSpaYREqmdFHo1vm0ZZWcnAp=s176-c-k-c0x00ffffff-no-rj-mo);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
}
.umis {
    background-image: url(https://yt3.ggpht.com/ytc/AKedOLRa8zeBZuAHRGyy27DYQg1uukXu_xzqtqhaMvsw4w=s176-c-k-c0x00ffffff-no-rj-mo);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
}
.kkuom {
    background-image: url(https://yt3.ggpht.com/JT9ut-deHCrte60mbXQmV7GUQ8MqLqd61a-NaGwdV2K5epg7NOMaWO_wU6yd-VfizWgOTT2-7Qk=s176-c-k-c0x00ffffff-no-rj-mo);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
}
.angkko{
    background-image: url(https://yt3.ggpht.com/ytc/AKedOLSn7pfmY-26VxIKRleDtSRJMtsIrOGv48wDZq_0nQ=s176-c-k-c0x00ffffff-no-rj-mo);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
}

/* nav_search */
#nav-search {
    padding-top: 162px;
}
.nav_search {
    padding: 10px;
}
.nav_search input {
    width: 100%;
    border-radius: 5px;
    height: 30px;
    padding: 5px 10px 5px 30px;
    font-size: 16px;
    border: none;
    background-color: #464649;
    color: white;
}
.nav_search >input:hover {
    border-color: rgb(211, 211, 211);;
}
.nav_search > input::placeholder {
    color: white;
}
.nav_search >input:focus {
    outline-color :#9147FF;
    background-color: black;
}
.nav_box {
    position: absolute;
    bottom: 63px;
    left: 15px;
}
 /* ===section=== */
.section {
    height: 350px;
    width: 100%;
}
.section_container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.video_box {
    width: 530px;
    height: 300px;
    background-color: white;
}

#streamer {
    width: 220px;
    height: 300px;
    background-color: #181818;
    padding: 10px;
}
.streamer {
    display: flex;
    margin-bottom: 10px;
}
.streamer_image {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    background-image: url(https://static-cdn.jtvnw.net/jtv_user_pictures/jdm2088-profile_image-c46fd83bd8115db2-150x150.png);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center;
}
.stremer_info {
    padding-left: 10px;
}
.streamer_name,
.streamer_game {
    font-size: 13px;
    color: #BF94FF;
    cursor: pointer;
}
.stremer_name:hover,
.stremer_game:hover {
    text-decoration: underline;
}
.streamer_viewer {
    color: #EFEFF1;
    font-size: 13px;
}
.stream {
    display: flex;
    height: 25px;
    margin-bottom: 5px;
}
.stream_language,
.steam_donation {
    height: 20px;
    border-radius: 10px;
    background-color: #464649;
    display: flex;
    justify-content: center;
    align-items: center;
}
.stream_language {
    margin: 0 5px 5px 0;
}
.stream_language div,
.steam_donation div {
    padding: 0 8px;
    font-size: 12px;
    color: #C8C8C9;
    font-weight: 600;
}
.content_info {
    font-size: 13px;
    color: #EFEFF1;
}

/* === section1=== */

.section1{
    padding: 25px 3rem 0;
}
.section1 h1{
    color: #EFEFF1;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 10px;
}
.grid {
    padding-bottom: 20px;
}
.content_section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.content_image {
    padding-bottom: 10px;
}
.content_image img {
    width: 100%;
}
.content_image img:hover {
    position: relative;
    top: -5px;
    right: -5px;
    box-shadow: -6px 6px pink;
}
.content_section_image {
    width: 40px;
    height: 40px;
    background-color: #BF94FF;
    border-radius: 50%;
}

/* === content_section_image img insert === */
.naen {
    background-image: url(https://static-cdn.jtvnw.net/jtv_user_pictures/94761985-74ee-4a54-9910-718c31e2274d-profile_image-50x50.png);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center;
}
.chodan {
    background-image: url(https://static-cdn.jtvnw.net/jtv_user_pictures/2067380c-6c8f-4a4d-9f68-65c13572a59b-profile_image-50x50.png);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center;
}
.kuiki {
    background-image: url(https://static-cdn.jtvnw.net/jtv_user_pictures/ca8c078c-bb3a-4971-86ed-b720f16e82bf-profile_image-50x50.png);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center;
}

/* === room === */
.room_container {
    display: flex;
}
.room {
    padding-left: 5px;
    width: 80%;
}
.room_name {
    font-size: 14px;
    color: #DEDEE3;
    font-weight: 600;
}
.room_maker,
.room_game {
    font-size: 13px;
    color: #ADADB8;
    font-weight: 600;
}
.room_thema {
    display: flex;
    padding-top: 5px;
}
.room_thema div {
    background-color: #464649;
    border-radius: 10px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px 5px 0;
}
.room_thema div p {
    color: #C8C8C9;
    font-size: 12px;
    font-weight: 600;
    padding: 0 8px;
}
.setting {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.setting:hover {
    border-radius: 5px;
    background-color: #464649;
}
.setting i {
    color: #DEDEE3;
    font-size: 16px;
}
.show_more {
    display: flex;
    justify-content: center;
    align-items: center;
}
.more_content{
    width: 87.24px;
    height: 30px;
    color: #BF94FF;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    font-weight: 600;
}
.more_content i {
    font-size: 20px;
}
.more_content:hover{
    background-color: #464649;
    border-radius: 5px;
}

/* ===section2=== */
.section2 {
    padding: 25px 3rem 0;
}
.section2 h1{
    color: #EFEFF1;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 10px;
}
.section2 h1 span{
    color: #BF94FF;
    cursor: pointer;
}
.section2 h1 span:hover{
    text-decoration: underline;
    color: #A970FF;
}
.content_section2{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.content_info2 h2{
    font-size: 14px;
    color: #DEDEE3;
}
.content_info2 p {
    font-size: 13px;
    color: #ADADB8;
}


/* === JS class === */
.display_none {
    display: none;
}
.none {
    display: none;
}
.show_nav{
    width: 50px;
}
.close {
    display: none;
}
.static {
    position: static;
}
.flex {
    display: flex;
}
.wide{
    padding-left: 50px;
}




