/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    height: 100vh;
    scroll-behavior: smooth;
    text-transform: uppercase;
    background-color: rgb(241, 241, 236);
}

a{
    text-decoration: none;
    color: black;
}

ul{
    padding: 0;
    list-style-type: none;
}


/* HEADER */
.header{
    background-color: maroon;
    padding: 0 15px;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.logo_container{
    height: 50px;
    display: flex;
    align-items: center;
}

.logo{
    font-size: 20px;
    font-weight: 600;
    color: white;
}

/* NAVIGATION */

.nav{
    position: absolute;
    width: 50%;
    height: 100vh;
    background-color: maroon;
    right: -50%;
    top: 0;
    transition: .5s;
}

.open_menu,
.close_menu{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.open_menu{
    justify-content: flex-end;
}

.open_icon,
.close_icon{
    font-size: 35px;
    cursor: pointer;
}

.close_menu{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.menu_list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.menu_items{
    padding: 15px 0;
    width: 55%;
    cursor: pointer;
}
.menu_items:hover {
    background-color: rgb(143, 24, 24);
}
.menu_items >a {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 20px;
    color: white;
    font-weight: 600;
}

.show{
    right: 0;
}

/* MAIN */
.main{
    padding: 50px 20px 20px 20px;
}
.section{
    padding: 100px 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my_img{
    width: 200px;
    height: 250px;
    background-color: coral;
    border-radius: 50%;
    text-align: center;
}

.my_img >img{
    width: 200px;
    height: 250px;
    border-radius: 50%;
    text-align: center;
    margin-bottom: 20px;
}
/* === ABOUTME === */
.aboutme{
    margin-top: 2rem;
    text-align: center;
}

.download_btn{
    width: 200px;
    height: 30px;
    border-radius: 25px;
    border: 1px dotted maroon;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(241, 241, 236);
    margin-top: 1rem;
}

.download_btn:hover{
    background-color: rgb(143, 24, 24);
}

.download_btn a:hover{
    color: white;
}

/* === EDUCATION === */
.education{
    text-align: center;
}

.education_info{
padding: 1rem;
}

.title{
    margin-bottom: 3rem;
}

.edu_info{
    display: grid;
    grid-template-columns: 2fr 8fr;
    margin-bottom: 10px;
    text-align: left;
    gap: 1rem;
}

.graduation_uni{
    color: goldenrod;
    font-weight: bold;
}
.graduation_date{
    font-weight: bold;
}
.graduation,
.graduation_department{
    font-size: 14px;
}

/*==== SKILLS ==== */
.skill{
    width: 100%;
}

.skill > h2{
    text-align: center;
}

.html,
.js,
.python{
    padding-bottom: 1rem;
}

.skill-icon{
    font-size: 20px;
}

.lang_package{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.per{
    text-align: right;
}

.html_per {
    height: 5px;
    width: 15%;
    background-color: darkslateblue;
}
.python_Per{
    height: 5px;
    width: 40%;
    background-color: darkslateblue;
}
.javascript_per{
    height: 5px;
    width: 20%;
    background-color: darkslateblue;
}

/* === PORTFOLIO === */
.portfolio > .title{
    text-align: center;
}

.portfolio_info{
    padding: 0.8rem;
    background-color: rgb(241, 241, 236);;
    border-radius: 5px;
    border: 2px solid maroon;
}

.work{
    display: grid;
    grid-template-columns: 1.6fr 0.4fr;
    gap: 1rem;
    padding: 2rem 0;
}

.work_img > img {
    width: 100%;
    border-radius: 3px;
}

.work_info{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.work_link > a{
    font-size: 12px;
}

.work_link > a:hover{
    text-decoration: underline;
}
/* === CONTACT === */
.contact{
    width: 100%;
}

.information{
    text-transform: lowercase;
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
}

.contact_icon{
    font-size: 20px;
    padding-right: 1rem;
}

.contact > title{
    text-align: center;
}

.contact_info{
    margin-bottom: 1.5rem;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form div{
    width: 100%;
    margin-bottom: 1rem;
}
.form .input{
    width: 100%;
    font-size: 18px;
    padding: 5px 10px;
}

.form_button{
    width: 100px;
    height: 35px;
    font-size: 18px;
    background-color: maroon;
    color: white;
    border-radius: 5px;
    border: none;
    font-weight: 550;
    cursor: pointer;
}

.form .input:focus{
    outline-color: maroon;
}

/* FOOTER */
.footer{
    background-color: maroon;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

.footer p{
    font-weight: bold;
}

/* === MEDIA QUERY (700PX, 1024PX) === */
@media screen and (min-width: 700px) {
    .nav{
        width: 30%;
    }
    .education_info{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
    .edu_info{
        text-align: right;
        margin-bottom: 10px;
    }
    .contact{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 850px) {
    .portfolio{
        width: 100%;
    }
    .portfolio_info{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
    .work{
        display: block;
    }
    .work_info{
        text-align: right;
    }
}

@media screen and (min-width: 1024px) {
    .header{
        position: static;
    }
    .nav{
        top: 0px;
        width: 30%;
        right: 0;
        position: fixed;
    }
    .open_menu,
    .close_menu{
        display: none !important;
    }
    .main{
        width: 70%;
    }
}